mixin nameplate(mod)
	.namePlateText.namePlateText--#{mod}
		case i%8
			when 0
				h2 American Pharaoh
			when 1
				h2 Dortmund
			when 2
				h2 Mr. Z
			when 3
				h2 Danzig Moon
			when 4
				h2 Tale of Verve
			when 5
				h2 Bodhisattva
			when 6
				h2 Diving Rod
			when 7
				h2 Firing Line}
