.slidePosition
	case i%8
		when 0
			span.fa.fa-circle.fa-circle--0.posMarker
			span.fa.fa-circle.fa-circle--1
			span.fa.fa-circle.fa-circle--2
			span.fa.fa-circle.fa-circle--3
			span.fa.fa-circle.fa-circle--4
			span.fa.fa-circle.fa-circle--5
			span.fa.fa-circle.fa-circle--6
			span.fa.fa-circle.fa-circle--7
		when 1
			span.fa.fa-circle.fa-circle--0
			span.fa.fa-circle.fa-circle--1.posMarker
			span.fa.fa-circle.fa-circle--2
			span.fa.fa-circle.fa-circle--3
			span.fa.fa-circle.fa-circle--4
			span.fa.fa-circle.fa-circle--5
			span.fa.fa-circle.fa-circle--6
			span.fa.fa-circle.fa-circle--7
		when 2
			span.fa.fa-circle.fa-circle--0
			span.fa.fa-circle.fa-circle--1
			span.fa.fa-circle.fa-circle--2.posMarker
			span.fa.fa-circle.fa-circle--3
			span.fa.fa-circle.fa-circle--4
			span.fa.fa-circle.fa-circle--5
			span.fa.fa-circle.fa-circle--6
			span.fa.fa-circle.fa-circle--7
		when 3
			span.fa.fa-circle.fa-circle--0
			span.fa.fa-circle.fa-circle--1
			span.fa.fa-circle.fa-circle--2
			span.fa.fa-circle.fa-circle--3.posMarker
			span.fa.fa-circle.fa-circle--4
			span.fa.fa-circle.fa-circle--5
			span.fa.fa-circle.fa-circle--6
			span.fa.fa-circle.fa-circle--7
		when 4
			span.fa.fa-circle.fa-circle--0
			span.fa.fa-circle.fa-circle--1
			span.fa.fa-circle.fa-circle--2
			span.fa.fa-circle.fa-circle--3
			span.fa.fa-circle.fa-circle--4.posMarker
			span.fa.fa-circle.fa-circle--5
			span.fa.fa-circle.fa-circle--6
			span.fa.fa-circle.fa-circle--7
		when 5
			span.fa.fa-circle.fa-circle--0
			span.fa.fa-circle.fa-circle--1
			span.fa.fa-circle.fa-circle--2
			span.fa.fa-circle.fa-circle--3
			span.fa.fa-circle.fa-circle--4
			span.fa.fa-circle.fa-circle--5.posMarker
			span.fa.fa-circle.fa-circle--6
			span.fa.fa-circle.fa-circle--7
		when 6
			span.fa.fa-circle.fa-circle--0
			span.fa.fa-circle.fa-circle--1
			span.fa.fa-circle.fa-circle--2
			span.fa.fa-circle.fa-circle--3
			span.fa.fa-circle.fa-circle--4
			span.fa.fa-circle.fa-circle--5
			span.fa.fa-circle.fa-circle--6.posMarker
			span.fa.fa-circle.fa-circle--7
		when 7
			span.fa.fa-circle.fa-circle--0
			span.fa.fa-circle.fa-circle--1
			span.fa.fa-circle.fa-circle--2
			span.fa.fa-circle.fa-circle--3
			span.fa.fa-circle.fa-circle--4
			span.fa.fa-circle.fa-circle--5
			span.fa.fa-circle.fa-circle--6
			span.fa.fa-circle.fa-circle--7.posMarker