.slidePosition
	span.fa.fa-circle.fa-circle--0.posMarker
	span.fa.fa-circle.fa-circle--1
	span.fa.fa-circle.fa-circle--2
	span.fa.fa-circle.fa-circle--3
	span.fa.fa-circle.fa-circle--4
	span.fa.fa-circle.fa-circle--5
	span.fa.fa-circle.fa-circle--6
	span.fa.fa-circle.fa-circle--7