@import "mixins"
@import "variables"
@import "bourbon/bourbon"
// @import "neat/neat"
@import "normalize"
@import "fonts"

/* General Styles */
$bp1: 600px
$bp2: 800px

body
	font-size: 14px
	@media(min-width: $bp1)
		font-size: 18px
	@media(min-width: $bp2)
		font-size: 20px
p,a,span
	font-family: $lato
	color: $preakgold
h1,h2,h3,h4,h5,h6
	font-family: $montserrat
	color: white
.rank
	position: relative
	height: 2em
	width: 5.5em
	background: transparent
	margin-left: 1em
	color: white
	&:after
	position: absolute
	content: ''
	top: 0
	right: 0
	border-style: solid
	border-color: $preakgold transparent $preakgold transparent
	border-width: 1.5em 0 0 1.5em
.rankText
	position: absolute
	top: 0
	right: .2em
	font-family: $montserrat
	text-transform: uppercase
.namePlate
	position: absolute
	top: 42%
	left: 0
	width: 100%
	height: 0
	margin-top: 1.4em
	z-index: 1
	+transition(all .2s ease)
	span 
		cursor: pointer
		font-size: 3em
		+transition(all .2s ease)
		&.fade
			color: $lightgray
			cursor: default
	&.stick
		top: 2em
		margin-top: 0
.fa-angle-left
	float: left
	margin-left: .6em
.fa-angle-right
	float: right
	margin-right: .6em
#contenders
	position: absolute
	top: 2em
	bottom: 0
	left: 0
	width: 100%
	background: #ccc
	overflow: hidden
#scroller 
	position: absolute
	width: 800%
	height: 800%
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	background-color: $offblack
	-webkit-transform: translateZ(0)
	-moz-transform: translateZ(0)
	-ms-transform: translateZ(0)
	-o-transform: translateZ(0)
	transform: translateZ(0)
	-webkit-touch-callout: none
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-webkit-text-size-adjust: none
	-moz-text-size-adjust: none
	-ms-text-size-adjust: none
	-o-text-size-adjust: none
	text-size-adjust: none
ul
	list-style: none
	padding: 0
	margin: 0
	width: 100%
	height: 100%
	text-align: center
.cell
	position: relative
	display: block
	width: 12.5%
	height: 12.5%
	float: left
	background-color: $offblack
	font-size: 1em
	cursor: move
	cursor: grab
	cursor: -moz-grab
	cursor: -webkit-grab
	&:active
		cursor: grabbing
		cursor: -moz-grabbing
		cursor: -webkit-grabbing
.namePlateText--top
	width: 100%
	height: 3.5em
	background-color: $offblack
	border-bottom: .1em solid $preakgold 
h2
	display: inline-block
	margin: .2em 0 0 0
	font-size: 1.3em
	font-weight: 300
	text-transform: uppercase
.slidePosition
	position: absolute
	top: 2em
	left: 0
	width: 100%
	text-align: center
	.fa-circle
		font-size: .7em
		color: $darkgray
		margin: 0 .3em
		&.posMarker
			color: $preakgold
.arrow
	position: absolute
	width: 100%
	cursor: pointer
	&--up
		top: 3em
		left: 0
	&--down
		bottom: 0
		left: 0
	p
		margin: -.7em 0 .7em 0
		color: $lightgray
		text-transform: uppercase
	span	
		font-size: 3em
		&.fa-angle-down
			line-height: 0
h3
	margin-bottom: .3em
	font-size: 1.7em
	font-weight: 300
	text-transform: uppercase
.centerAlign
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
.contentBlock
	position: relative
	top: 31%
	width: 100%
	img
		width: 33%
		max-width: 10em
	p
		margin-top: .3em
		font-family: $montserrat
		font-size: 1.7em
		font-weight: 300
.textBlock
	position: relative
	width: 100%
	p
		width: 100%
		margin: 0
		padding: .5em
		font-family: $montserrat
		font-size: 2.5em
		font-weight: 300
		background-color: $darkgray
		span
			text-transform: uppercase
.backToTop
	position: absolute
	width: 100%
	bottom: 0
	left: 0
	cursor: pointer
	p
		width: 10em
		margin: 0 auto
		margin-bottom: 1em
		padding: .2em
		font-family: $montserrat
		text-transform: uppercase
		color: $offblack
		background-color: $preakgold
		+transition(all .5s ease)
		&:hover
			color: white
			background-color: darken($preakgold, 25)							
.cell__name
	position: relative
	background-size: cover
	border-top: .2em solid $preakgold
	.slidePosition
		top: 42%
		padding-top: 1.8em
.namePlateText--center
	position: absolute
	top: 42%
	width: 100%
	height: 3.5em
	background-color: rgba(26,26,26,.8)
	h2
		display: inline-block
		margin: .2em 0 0 0
		font-size: 1.3em
		font-weight: 300
		text-transform: uppercase
.detailsPlate
	position: absolute
	bottom: 0
	width: 100%
	height: 3em
	background-color: rgba(26,26,26,.8)
	text-align: center
	cursor: pointer
	p
		margin: .2em 0 0 0
	span
		color: $preakgold
		font-size: 3em
		line-height: .5em	
.cell__notes
	.contentBlock
		.textBlock
			p
				padding: .5em
				font-family: $lato
				font-size: 1.2em
				background-color: transparent


/* Tophat */
#tophat
	height: 2em
	background-color: $darkgray
	overflow: hidden
#logo
	width: 17em
	height: 100%
	float: left
	line-height: 2.5em
	vertical-align: middle
	img
		margin: 0 1em
		width: 90%
.tophat-share-tools
	float: right
	height: 100%
	line-height: 1.6em
	font-size: 1.5em
	vertical-align: middle
	margin: 0
	text-align: center
	span
		margin-right: .6em
		color: white
		vertical-align: top
		cursor: pointer
		&:hover
			color: $preakgold
/* Leaderboard */
#leaderboard
	width: 728px 
	height: 90px
	background-color: #222222
	margin: 10px auto
	text-align: center
	@media (max-width: 730px)
		display: none
